@model IEnumerable<Book>
<div class="row">
    <div class="col">
        <h2>Book Library</h2>
    </div>
</div>
    
@foreach (var book in @Model)
{
    <div class="row p-2 mb-2">
        <div class="col-sm col-md-3">
                <img src="@book.ImageLink" alt="@book.Title" class="w-100"/>
        </div>
        <div class="col-sm col-md-9">
            <p>@book.Description</p>
            <p>Quantity: <span>@book.Quantity</span></p>
            <p>Owned: <span>@(book.IsOwned ? "Yes" : "No")</span></p>
            <p>Status: <span>@book.Status</span></p>

            <a href="/Books/ViewBook/@book.BookID" class="btn btn-primary">View</a>
            <a href="/Books/Update/@book.BookID" class="btn btn-warning">Edit</a>
        </div>
    </div>
}