@model VolumeInfo

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Search Books</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form method="post">
            <div class="input-group mb-3">
                <input type="search" class="form-control" name="query" placeholder="Search Title or ISBN"/>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    
        @if (Model != null)
        { 
            <div class="row">
                <div>
                    <h3>@Model.Title</h3>
                    <h4>
                        <strong>Author:</strong>
                        @Model.Authors?.FirstOrDefault()
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="@Model.ImageLinks?.Thumbnail" alt="@Model.Title" class="img-fluid w-100" />
                </div>
                <div class="col col-md-8">
                    <p>@Model.Description</p>
                    <a class="btn btn-primary"
                            asp-controller="Books"
                            asp-action="InsertBook"
                            asp-route-title="@Model.Title"
                            asp-route-author="@Model.Authors?.FirstOrDefault()"
                            asp-route-description="@Model.Description"
                            asp-route-cover="@Model.ImageLinks?.Thumbnail">
                        Add Book
                    </a>
                </div>
            </div>
        }
</div>
